@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-from: #aa0000;
    --color-primary-to: #550000;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --rhed-background: #fdd;
    --rhed-foreground: #100;
    --rhed-accent: #733;
    --fade: #fee;
  }
  .dark {
    /* --sidebar-background: 240 5.9% 10%; */
    --sidebar-background: 0 100% 7%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --rhed-background: #200;
    --rhed-foreground: #fee;
    --rhed-accent: #b77;
    --fade: #100;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes navbar {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes sidebar {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glowText {
  from {
      text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #eeb4b4, 0 0 4px #dd9090, 0 0 5px #cc6c6c, 0 0 6px #bb4848, 0 0 7px #aa2424;
  }

  to {
      text-shadow: 0 0 2px #fff, 0 0 4px #eeb4b4, 0 0 6px #dd9090, 0 0 8px #cc6c6c, 0 0 10px #bb4848, 0 0 12px #aa2424, 0 0 14px #a00;
  }
}

@keyframes rotateGlowText {
  0% {
    text-shadow: 
      0 calc(-1/6 * var(--glow-intensity)) calc(1/3 * var(--glow-intensity)) #fff,
      0 calc(-1/3 * var(--glow-intensity)) calc(2/3 * var(--glow-intensity)) #ff4848,
      0 calc(-1/2 * var(--glow-intensity)) var(--glow-intensity) #ff2424,
      calc(1/6 * var(--glow-intensity)) 0 calc(1/3 * var(--glow-intensity)) #fff,
      calc(1/3 * var(--glow-intensity)) 0 calc(2/3 * var(--glow-intensity)) #ff7043,
      calc(1/2 * var(--glow-intensity)) 0 var(--glow-intensity) #ff5722,
      calc(-1/6 * var(--glow-intensity)) 0 calc(1/3 * var(--glow-intensity)) #fff,
      calc(-1/3 * var(--glow-intensity)) 0 calc(2/3 * var(--glow-intensity)) #ff7043,
      calc(-1/2 * var(--glow-intensity)) 0 var(--glow-intensity) #ff5722,
      0 calc(1/6 * var(--glow-intensity)) calc(1/3 * var(--glow-intensity)) #fff,
      0 calc(1/3 * var(--glow-intensity)) calc(2/3 * var(--glow-intensity)) #ffa500,
      0 calc(1/2 * var(--glow-intensity)) var(--glow-intensity) #ff8c00;
  }
  
  25% {
    text-shadow: 
      calc(1/6 * var(--glow-intensity)) 0 calc(1/3 * var(--glow-intensity)) #fff,
      calc(1/3 * var(--glow-intensity)) 0 calc(2/3 * var(--glow-intensity)) #ff4848,
      calc(1/2 * var(--glow-intensity)) 0 var(--glow-intensity) #ff2424,
      0 calc(1/6 * var(--glow-intensity)) calc(1/3 * var(--glow-intensity)) #fff,
      0 calc(1/3 * var(--glow-intensity)) calc(2/3 * var(--glow-intensity)) #ff7043,
      0 calc(1/2 * var(--glow-intensity)) var(--glow-intensity) #ff5722,
      0 calc(-1/6 * var(--glow-intensity)) calc(1/3 * var(--glow-intensity)) #fff,
      0 calc(-1/3 * var(--glow-intensity)) calc(2/3 * var(--glow-intensity)) #ff7043,
      0 calc(-1/2 * var(--glow-intensity)) var(--glow-intensity) #ff5722,
      calc(-1/6 * var(--glow-intensity)) 0 calc(1/3 * var(--glow-intensity)) #fff,
      calc(-1/3 * var(--glow-intensity)) 0 calc(2/3 * var(--glow-intensity)) #ffa500,
      calc(-1/2 * var(--glow-intensity)) 0 var(--glow-intensity) #ff8c00;
  }
  
  50% {
    text-shadow: 
      0 calc(1/6 * var(--glow-intensity)) calc(1/3 * var(--glow-intensity)) #fff,
      0 calc(1/3 * var(--glow-intensity)) calc(2/3 * var(--glow-intensity)) #ff4848,
      0 calc(1/2 * var(--glow-intensity)) var(--glow-intensity) #ff2424,
      calc(-1/6 * var(--glow-intensity)) 0 calc(1/3 * var(--glow-intensity)) #fff,
      calc(-1/3 * var(--glow-intensity)) 0 calc(2/3 * var(--glow-intensity)) #ff7043,
      calc(-1/2 * var(--glow-intensity)) 0 var(--glow-intensity) #ff5722,
      calc(1/6 * var(--glow-intensity)) 0 calc(1/3 * var(--glow-intensity)) #fff,
      calc(1/3 * var(--glow-intensity)) 0 calc(2/3 * var(--glow-intensity)) #ff7043,
      calc(1/2 * var(--glow-intensity)) 0 var(--glow-intensity) #ff5722,
      0 calc(-1/6 * var(--glow-intensity)) calc(1/3 * var(--glow-intensity)) #fff,
      0 calc(-1/3 * var(--glow-intensity)) calc(2/3 * var(--glow-intensity)) #ffa500,
      0 calc(-1/2 * var(--glow-intensity)) var(--glow-intensity) #ff8c00;
  }
  
  75% {
    text-shadow: 
      calc(-1/6 * var(--glow-intensity)) 0 calc(1/3 * var(--glow-intensity)) #fff,
      calc(-1/3 * var(--glow-intensity)) 0 calc(2/3 * var(--glow-intensity)) #ff4848,
      calc(-1/2 * var(--glow-intensity)) 0 var(--glow-intensity) #ff2424,
      0 calc(-1/6 * var(--glow-intensity)) calc(1/3 * var(--glow-intensity)) #fff,
      0 calc(-1/3 * var(--glow-intensity)) calc(2/3 * var(--glow-intensity)) #ff7043,
      0 calc(-1/2 * var(--glow-intensity)) var(--glow-intensity) #ff5722,
      0 calc(1/6 * var(--glow-intensity)) calc(1/3 * var(--glow-intensity)) #fff,
      0 calc(1/3 * var(--glow-intensity)) calc(2/3 * var(--glow-intensity)) #ff7043,
      0 calc(1/2 * var(--glow-intensity)) var(--glow-intensity) #ff5722,
      calc(1/6 * var(--glow-intensity)) 0 calc(1/3 * var(--glow-intensity)) #fff,
      calc(1/3 * var(--glow-intensity)) 0 calc(2/3 * var(--glow-intensity)) #ffa500,
      calc(1/2 * var(--glow-intensity)) 0 var(--glow-intensity) #ff8c00;
  }
  
  100% {
    text-shadow: 
      0 calc(-1/6 * var(--glow-intensity)) calc(1/3 * var(--glow-intensity)) #fff,
      0 calc(-1/3 * var(--glow-intensity)) calc(2/3 * var(--glow-intensity)) #ff4848,
      0 calc(-1/2 * var(--glow-intensity)) var(--glow-intensity) #ff2424,
      calc(1/6 * var(--glow-intensity)) 0 calc(1/3 * var(--glow-intensity)) #fff,
      calc(1/3 * var(--glow-intensity)) 0 calc(2/3 * var(--glow-intensity)) #ff7043,
      calc(1/2 * var(--glow-intensity)) 0 var(--glow-intensity) #ff5722,
      calc(-1/6 * var(--glow-intensity)) 0 calc(1/3 * var(--glow-intensity)) #fff,
      calc(-1/3 * var(--glow-intensity)) 0 calc(2/3 * var(--glow-intensity)) #ff7043,
      calc(-1/2 * var(--glow-intensity)) 0 var(--glow-intensity) #ff5722,
      0 calc(1/6 * var(--glow-intensity)) calc(1/3 * var(--glow-intensity)) #fff,
      0 calc(1/3 * var(--glow-intensity)) calc(2/3 * var(--glow-intensity)) #ffa500,
      0 calc(1/2 * var(--glow-intensity)) var(--glow-intensity) #ff8c00;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 0px 0px 0.5rem black;
  }

  .message-animation {
    animation: slide-up 0.25s ease-out forwards;
  }

  .navbar-dropdown-animation {
    animation: navbar 0.1s ease-in-out forwards;
  }

  .sidebar-dropdown-animation {
    animation: sidebar 0.1s ease-in-out forwards;
  }

  .text-gradient-primary {
    padding: 0.2em;
    margin: -0.2em;

    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, var(--tw-gradient-stops));

    --tw-gradient-from: var(--color-primary-from) var(--tw-gradient-from-position);
    --tw-gradient-to: var(--color-primary-from) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);

    --tw-gradient-to: var(--color-primary-to) var(--tw-gradient-to-position);
  }

  .text-glow {
    color: white;
    animation: glowText 3.33s ease-in-out infinite alternate;
  }

  .text-glow-rotate {
    color: white;
    animation: rotateGlowText 5s linear infinite;
    --glow-intensity: 13px;
  }

  .blend {
    mix-blend-mode: screen;
  }
}

body {
  background-color: var(--rhed-background);
  color: var(--rhed-foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}