@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-from: #aa0000;
    --color-primary-to: #550000;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes navbar {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes sidebar {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes sidebar-in {
  from {
    opacity: 10%;
    transform: translateY(-1rem);
  }
}

@keyframes sidebar-out {
  to {
    opacity: 10%;
    transform: translateY(-1rem);
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 3px black;
  }

  .message-animation {
    animation: slide-up 0.25s ease-out forwards;
  }

  .navbar-dropdown-animation {
    animation: navbar 0.1s ease-in-out forwards;
  }

  .sidebar-dropdown-animation {
    animation: sidebar 0.1s ease-in-out forwards;
  }

  .text-gradient-primary {
    padding: 0.2em;
    margin: -0.2em;

    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, var(--tw-gradient-stops));

    --tw-gradient-from: var(--color-primary-from) var(--tw-gradient-from-position);
    --tw-gradient-to: var(--color-primary-from) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);

    --tw-gradient-to: var(--color-primary-to) var(--tw-gradient-to-position);
  }

  .sidebar[data-state="open"] {
    animation: sidebar-in 400ms ease-out;
  }
  .sidebar[data-state="closed"] {
    animation: sidebar-out 400ms ease-out;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}